<section class="sign-up-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div>
        <form class="signup-form">
            <div>
                <label for="username">Select a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password">Select a password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>
    </div>

    <a href="login.handlebars">log in instead</a>
</section>

<script src="js"></script>
{{!-- include js --}}